@model IEnumerable<TestWebApp.Models.Student>
@{
    ViewData["Title"] = "Список студентов";
    
}
<!DOCTYPE html>
<style>
    p{
        font-size: 23pt;
    }
</style>
        <div padding: auto>
            <h1>Список студентов</h1>
            <p>Приложение позволяет осуществлять<br>добавление новых элементов,<br>редактирование и удаление.</p>
        </div>


   